@charset "utf-8";

/* CSS Document */

body {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  background-color: #e7e7e7;
  font-family: Arial, Helvetica, sans-serif, "宋体";
}
ul {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
a {
  outline: none;
  color: #000;
  text-decoration: none;
}
a img {
  border: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.li_txt a:hover, .sub2 a:hover, .con_t a:hover, .sp2 a:hover, .pro_c ul li a:hover, .foot_nav a:hover {
  text-decoration: underline;
}
.p2 a:hover, .p1 a:hover, .txt2 a:hover {
  color: #0368b6
}

/*====公共样式结束====
  ====头部样式开始====*/

.top_bg {
  background-image: url(../images/top_bg.jpg);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 49px;
}
.top {
  width: 1205px;
  height: 126px;
  margin: 0 auto;
}
.logo {
  float: left;
  height: 65px;
  width: 560px;
  padding-top: 5px;
}
.top_r {
  height: 73px;
  width: 630px;
  float: right;
  margin-top: 12px;
}
.head {
  height: 80px;
  overflow: hidden;
}
.nav {
  height: 39px;
  margin-top: 6px;
  padding: 0 14px;
  position: relative;
  z-index: 10;
}
.li_txt, .sub2 {
  float: left;
  line-height: 39px;
  height: 39px;
  width: 150px;
  text-align: center;
  display: inline;
}
.li_txt a, .sub2 a {
  font-size: 16px;
  color: #000;
}
.li_xian {
  background-image: url(../images/nav_bg.jpg);
  background-repeat: no-repeat;
  float: left;
  height: 39px;
  width: 2px;
}
.banner {
  height: 375px;
  width: 1205px;
  overflow: hidden;
  margin: 0 auto;
  background-image: url(../images/banner_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0px bottom;
}

/*banner脚本*/

.xxx img {
  width: 1203px;
  height: 335px;
}
.mainbox {
  overflow: hidden;
  position: relative;
}
.flashbox {
  overflow: hidden;
  position: relative;
}
.imagebox {
  text-align: center;
  position: relative;
  z-index: 999;
}
.bitdiv {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px 10px 0px;
  cursor: pointer;
  float: right
}
.defimg {
  background-image: url(../images/yuan2.jpg)
}
.curimg {
  background-image: url(../images/yuan1.jpg)
}

/*banner脚本结束*/

.ss_bg {
  background-image: url(../images/ss_bg.jpg);
  background-repeat: repeat-x;
  height: 40px;
  overflow: hidden;
}
.ss {
  height: 40px;
  width: 1150px;
  overflow: hidden;
  margin: 0 auto;
}
.baidu {
  float: left;
  padding-top: 8px;
}
.search {
  float: right;
  background-image: url(../images/search_bg.jpg);
  background-repeat: no-repeat;
  height: 20px;
  width: 290px;
  padding: 10px 0px 10px 10px;
}
.inp1 {
  height: 18px;
  width: 200px;
  overflow: hidden;
  border: none;
  outline: none;
  line-height: 18px;
  color: #afafaf;
  background: none;
  padding-top: 2px;
  float: left;
}
.bt1 {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: bold;
  color: #3f3e3e;
  margin-left: 15px;
  display: inline;
  float: left;
  width: 70px;
  height: 20px;
  line-height: 20px;
  border: none;
  background: none;
  cursor: pointer;
}
.con {
  height: 312px;
  width: 1203px;
  margin: 13px auto 0;
}
.con_l {
  height: 295px;
  width: 442px;
  padding-bottom: 17px;
  overflow: hidden;
  background: #fff;
  background-image: url(../images/con_bg.jpg);
  background-repeat: repeat-x;
  background-position: 0px bottom;
  float: left;
}
.con_t {
  background-color: #0368b6;
  height: 28px;
  line-height: 28px;
  color: #FFF;
  padding: 0 10px;
  text-align: right;
}
.con_t span {
  float: left;
  font-size: 18px;
}
.con_t a {
  color: #FFF;
}
.con_l_c {
  height: 250px;
  width: 432px;
  overflow: hidden;
  padding: 5px;
}
.con_l_c img {
  height: 130px;
  width: 432px;
  margin-bottom: 10px;
}
.txt1 {
  line-height: 20px;
  height: 120px;
  width: 430px;
  padding-left: 6px;
  overflow: hidden;
}
.con_c {
  width: 300px;
  height: 295px;
  padding-bottom: 17px;
  overflow: hidden;
  background: #fff;
  background-image: url(../images/con_bg.jpg);
  background-repeat: repeat-x;
  background-position: 0px bottom;
  float: left;
}
.con_c_img {
  height: 247px;
  width: 280px;
  overflow: hidden;
  padding: 5px 10px;
}
.con_c_img img {
  height: 267px;
  width: 300px;
}
.con_r {
  height: 295px;
  width: 441px;
  padding-bottom: 17px;
  overflow: hidden;
  background: #fff;
  background-image: url(../images/con_bg.jpg);
  background-repeat: repeat-x;
  background-position: 0px bottom;
  float: left;
  margin: 0 10px;
  display: inline;
}
.con_r_c {
  padding: 5px;
  height: 257px;
  width: 431px;
  overflow: hidden;
}
.con_rc_1 {
  height: 100px;
  width: 430px;
  overflow: hidden;
}
.img1 {
  float: left;
  height: 100px;
  width: 154px;
  margin-right: 15px;
  display: inline;
}
.img1 img {
  height: 100px;
  width: 154px;
}
.p1 {
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  height: 30px;
  width: 260px;
  overflow: hidden;
}
.txt2 {
  float: left;
  line-height: 18px;
  height: 100px;
  width: 260px;
  overflow: hidden;
}
.con_r_li {
  height: 140px;
  width: 420px;
  margin-top: 10px;
  margin-left: 5px;
  overflow: hidden;
}
.con_r_li ul li {
  height: 27px;
  *height: 24px;
  width: 420px;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
}
.p2 {
  line-height: 27px;
  float: left;
  height: 27px;
  width: 290px;
  overflow: hidden;
}
.p3 {
  line-height: 27px;
  float: right;
}
.nav ul {
  float: right;
}
.top_r a {
  font-size: 18px;
}
.top_r a:hover {
  text-decoration: underline;
}
.top_r p {
  float: right;
  font-size: 16px;
}
.index_pro {
  height: 200px;
  width: 1203px;
  margin: 0 auto;
  background-image: url(../images/con_bg.jpg);
  background-repeat: repeat-x;
  padding-bottom: 17px;
  background-position: 0px bottom;
}
.pro_top {
  background-image: url(../images/pro_t_bg.jpg);
  background-repeat: repeat-x;
  height: 30px;
  width: 1183px;
  overflow: hidden;
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px;
}
.sp1 {
  float: left;
}
.sp2 {
  float: right;
}
.sp2 a {
  font-size: 12px;
}
.pro_c {
  background-color: #FFF;
  height: 170px;
  width: 1203px;
}
.pro_c ul li {
  height: 140px;
  width: 140px;
  margin: 15px;
  float: left;
  text-align: center;
  overflow: hidden;
  display: inline;
}
.pro_c ul li a p {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  font-weight: bold;
  overflow: hidden;
}
.foot_bg {
  background-color: #dddddd;
  background-image: url(../images/foot_bg.jpg);
  background-repeat: repeat-x;
  height: 84px;
}
.foot {
  height: 84px;
  width: 1203px;
  margin: 0 auto;
}
.foot_nav {
  line-height: 34px;
  text-align: right;
  height: 34px;
}
.foot1 {
  margin-top: 15px;
}
.lfoot {
  float: right;
  margin-left: 15px;
}
.rfoot {
  float: right;
}
.nav ul li {
  float: left;
  display: inline;
  position: relative;
  z-index: 11;
}
.subnav {
  display: none
}
.sub2 .subnav {
  display: block;
  position: absolute;
  z-index: 99;
  left: -2px;
  top: 39px;
  background-color: #4c8fd1;
  width: 153px;
  overflow: hidden;
}
.subnav a {
  display: block;
  line-height: 24px;
  font-size: 12px;
  color: #FFF;
  height: 24px;
  border-bottom: 1px solid #efefef;
  overflow: hidden
}
.subnav a:hover {
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
}
.pro_c ul li a img {
  height: 115px;
}
.con_neiye {
  width: 1203px;
  margin: 0 auto;
}
.left {
  float: left;
  width: 250px;
  background-color: #0368b6;
  background-image: url(../images/left_bottom2.jpg);
  background-repeat: no-repeat;
  background-position: 0px bottom;
  padding-bottom: 31px;
  margin-top: 10px;
}
.left_t {
  height: 74px;
  width: 230px;
  overflow: hidden;
  font-size: 30px;
  line-height: 74px;
  font-weight: bold;
  color: #FFF;
  padding-left: 20px;
  border-bottom: 2px solid #FFF;
  background-color: #0368b6;
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
}
.left_li {
  width: 250px;
}
.left_li ul li {
  width: 250px;
  line-height: 40px;
  background-image: url(../images/tub1.jpg);
  background-repeat: no-repeat;
  background-position: 14px 14px;
  overflow: hidden;
}
.left_li ul li a {
  font-size: 14px;
  color: #FFF;
}
.left_li ul li a:hover {
  font-weight: bold;
  color: #FFF;
}
.left_contact {
  margin-top: 30px;
}
.dixian {
  padding-left: 40px;
  background-image: url(../images/left_xian.jpg);
  background-repeat: repeat-x;
  background-position: 0px bottom;
  width: 210px;
}
.dixian ul {
  padding-bottom: 10px;
  /* display:none; */
}
.dixian ul li {
  background: none;
  line-height: 20px;
  width: 210px;
  overflow: hidden;
}
.cur .dixian ul {
  display: block
}
.cur .dixian ul li a {
  font-size: 12px;
}
.cont_title {
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #FFF;
  text-align: center;
  border-bottom: 2px solid #FFF;
}
.cont_c {
  font-size: 14px;
  line-height: 24px;
  color: #FFF;
  background-image: url(../images/contact_bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 15px;
}
.right {
  float: right;
  width: 923px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.right_t {
  height: 8px;
  background-image: url(../images/right_t.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}
.right_c {
  background-image: url(../images/right_c.jpg);
  background-repeat: repeat-y;
}
.right_f {
  height: 8px;
  background-image: url(../images/right_f.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}
.title1 {
  font-size: 18px;
  line-height: 65px;
  height: 65px;
  margin: 0 15px;
  border-bottom: 1px dashed #4a4a4a;
}
.txt3 {
  width: 890px;
  overflow: hidden;
  padding: 15px;
}
.txt3 p {
  font-size: 14px;
  line-height: 24px;
}
.txt3 ul {
  width: 870px;
  margin-left: 10px;
}
.txt3 ul li {
  display: inline;
  float: left;
  width: 274px;
  background-image: url(../images/li_bg.jpg);
  background-position: center bottom;
  height: 329px;
  padding-bottom: 26px;
  background-repeat: no-repeat;
  margin: 0 8px 20px 8px;
}
.txt3 ul li img {
  padding: 1px;
  height: 290px;
  width: 270px;
  border: 1px solid #cccccc;
  display: block;
}
.txt3 ul li p {
  background-color: #0368b6;
  height: 35px;
  width: 274px;
  line-height: 35px;
  font-size: 18px;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
.txt3 ul li a:hover {
  text-decoration: underline;
  color: #FFF;
}
.page {
  text-align: left;
  height: 40px;
  clear: both;
  padding-left: 20px;
  font-size: 14px;
  line-height: 40px;
  width: 850px;
}
.page a {
  margin-right: 5px;
}
.page a:hover {
  text-decoration: underline;
}
.pro_txt {
  width: 890px;
  overflow: hidden;
  padding: 15px;
}
.pro_txt1 {
  width: 890px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}
.pro_txt1 img {
  max-width: 600px;
}
.pro_txt2 {
  width: 890px;
  overflow: hidden;
}
.pro_txt2_l {
  float: left;
  width: 600px;
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 20px;
}
.pro_txt2_r {
  float: right;
  width: 250px;
  overflow: hidden;
  text-align: center;
}
.pro_txt2_r img {
  max-width: 250px;
  _width: 250px;
}
.p4 {
  background-color: #0368b6;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  font-size: 18px;
  color: #FFF;
}
.fea_txt {
  padding: 15px;
  width: 568px;
  border: 1px solid #ccc;
  line-height: 24px;
  margin-bottom: 10px;
}
.pro_txt2_l table {
  line-height: 25px;
  border-collapse: collapse;
  border: 1px solid #ccc;
  text-align: center;
  width: 600px;
}
.faq {
  width: 890px;
  overflow: hidden;
  padding: 15px;
}
.faq ul li {
  padding: 10px;
  width: 870px;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
  transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
}
.faq ul li:hover {
  transform: scale(1.03) translate(2px, -5px);
  -moz-transform: scale(1.03) translate(2px, -5px);
  -webkit-transform: scale(1.03) translate(2px, -5px);
  background-color: #0368b6;
  color: #FFF;
  cursor: default;
}
.faq ul li p {
  line-height: 24px;
  color: #4a4a4a;
}
.faq ul li:hover p {
  color: #FFF
}
.faq ul li p strong {
  font-size: 16px;
}
.inp {
  clear: both;
  height: 25px;
  margin-top: 10px;
  overflow: hidden;
  margin-left: 30px;
}
.inp_txt {
  font-size: 18px;
  line-height: 25px;
  float: left;
  height: 25px;
  width: 100px;
}
.inp_bg {
  float: left;
  background-image: url(../images/inp_bg.jpg);
  background-repeat: no-repeat;
  height: 15px;
  width: 190px;
  padding: 5px;
}
.inp_bg input {
  font-size: 12px;
  line-height: 15px;
  height: 15px;
  width: 175px;
  border: none;
  outline: none;
}
.inp3 {
  clear: both;
  height: 200px;
  margin-top: 10px;
  overflow: hidden;
  margin-left: 30px;
}
.inp_bg2 {
  float: left;
  background-image: url(../images/inp_bg2.jpg);
  background-repeat: no-repeat;
  height: 190px;
  width: 384px;
  padding: 5px;
}
.inp_bg2 textarea {
  font-size: 12px;
  line-height: 18px;
  height: 190px;
  width: 384px;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}
.bt2 {
  height: 30px;
  margin: 25px 150px;
  clear: both;
}
.bt2 input {
  background-image: url(../images/bt2.jpg);
  background-repeat: no-repeat;
  height: 30px;
  width: 81px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  margin-right: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}
.news {
  width: 890px;
  overflow: hidden;
  padding: 15px;
}
.news ul li {
  height: 156px;
  width: 870px;
  overflow: hidden;
  padding: 15px 10px;
  border-bottom: 1px dashed #ccc;
}
.img2 {
  padding: 2px;
  height: 150px;
  width: 200px;
  border: 1px solid #ccc;
  float: left;
}
.img2 img {
  height: 150px;
  width: 200px;
}
.news_txt {
  float: right;
  height: 156px;
  width: 650px;
  overflow: hidden;
}
.news_txt p {
  line-height: 24px;
  color: #000;
  font-size: 14px;
}
.news_txt p span {
  color: #999999;
}
.bt3 {
  background-color: #0368b6;
  height: 25px;
  width: 90px;
  text-align: center;
}
.bt3 a {
  color: #FFF;
}
.bt3 a:hover {
  color: #FFF;
  font-weight: bold;
}
.title2 {
  line-height: 30px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 10px;
}
.title2 p strong {
  font-size: 16px;
}
.news_txt2 {
  margin: 0 15px;
  line-height: 20px;
}
.return {
  text-align: center;
  margin: 20px;
  line-height: 30px;
  height: 30px;
}
.return a:hover {
  font-weight: bold
}
.contact {
  width: 880px;
  overflow: hidden;
  padding: 20px;
}
.contact {
  font-size: 14px;
  line-height: 24px;
}
.fr {
  display: block;
  width: 300px;
}
.yc ul {
  display: none
}
.contact img {
  max-width: 880px;
	width: 100%;
}
.prodact_con {
  width: 280px;
  float: left;
	margin-right: 5px;
}
.li_logotxt {
  float: left;
  line-height: 39px;
  height: 39px;
  width: 200px;
  text-align: center;
  display: inline;
}
